<html>
    <head>
        <title>
            <%= title %>
        </title>

    </head>
    <body>
        <%- include('_header); %>
        
        <h1>Codesocial/profile page </h1>

        <%- include('footer); %>

    </body>
</html>